<div class="container text-center mt-5">
    <h1>Bem-Vindo ao Meu Projeto</h1>
    <div class="card p-4">
        <img src="https://github.com/daniel-bento11.png" alt="Foto de Perfil" class="profile-img mb-3">
        <div class="card-head"><h3>Daniel Bento</h3></div>
        <div class="card-body">
            <p>Desenvolvi esse Sistema utilizando Angular, .Net, Bootstrap, SQlite, EntityFramework. Essa aplicação foi desenvolvida para demonstrar minhas habilidades em desenvolvimento web full-stack.</p>
            <div class="social-icons">
                <a href="https://github.com/daniel-bento11" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/daniel-bento-931541323" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:danielvellutobento@gmail.com"><i class="fas fa-envelope"></i></a>
                <a href="https://wa.me/+5516997043711" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>
    </div>
</div>